.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# CodeceptJS
tests/ui_integration/output
tests/ui_integration/screenshots/diff

# GitLab Runner
builds/

# Cypress videos/artifacts
cypress/videos
cypress/screenshots
cypress-visual-report
cypress-visual-screenshots

# Eslint
eslint.json

# Pact
pact/logs
pact/pacts

!.vscode/extensions.json
